<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krunal Fried Chicken - Menu</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Welcome to Krunal Fried Chicken</h1>
    <h2>Our Menu</h2>
    <div class="products">
        <% products.forEach(product => { %>
            <div class="product">
                <h2><%= product.name %></h2>
                <p>Price: AED <%= product.price %></p>
                <p>Quantity in cart: <%= cartQuantityMap[product.id] || 0 %></p> <!-- Display the quantity -->
                <form action="/add-to-cart" method="POST">
                    <input type="hidden" name="productId" value="<%= product.id %>">
                    <button type="submit">Add to Cart</button>
                </form>
            </div>
        <% }); %>
    </div>
    <a href="/cart">View Cart</a>
</body>
</html>